<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <% if topping.new_record? %>
            <strong class="heading-26 brandh1">New Topping</strong>
          <% else %>
            <strong class="heading-26 brandh1">Edit Topping</strong>
          <% end %>
        </div>

        <div class="modal-body">
          <%= form_with(model: topping, class: "contents") do |form| %>
            <% if topping.errors.any? %>
                <div id="error_explanation" class="w-full bg-red-50 text-red-500 font-medium rounded-lg py-5 pb-1 mb-1 px-4 mt-1">
                  <h6 class="pt-2 mb-0"><%= pluralize(topping.errors.count, "error") %> prevented your topping from being saved:</h6>
                  <ul class="list-outside">
                    <% topping.errors.each do |error| %>
                      <li class="list-disc ml-6 "><%= error.full_message %></li>
                  <% end %>
                  </ul>
                </div>
            <% end %>
              <div class="my-5">
                <b><%= form.label "Name:" %></b>
                <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
              <div class="inline">
                <%= form.submit class: "rounded-lg py-3 px-4 bg-blue-400 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
                <%= link_to "Cancel", toppings_path, class: "ml-2 rounded-lg py-2 px-5 bg-gray-100 inline-block font-medium" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
