<div id="<%= dom_id topping %>" style="border:1px solid" class="card Gmodule md:w-2/3 card--1 flex flex-col justify-between">

  <p class="my-5 flex-grow">
    <strong style="overflow-wrop:break-word;" class="block font-medium mb-1 brandh1"><%= topping.name %></strong>
  </p>

  <div class="flex-grow mt-3 mb-3">
    <% unless topping.pizzas.empty? %>
      <div class="m-1">
        <small><%= topping.pizzas.pluck(:name).join(', ') %></small>
      </div>
    <% end %>
  </div>

  <div class="mx-auto justiy-contents-bottom">
    <%= link_to edit_topping_path(topping), "data-controller": "turbo", class: "rounded py-3 px-3 bg-gray-50 inline-block hover:ring-yellow-500 hover:ring-2" do %>
      <i class="fa fa-edit"></i> Edit
    <% end %>

    <div class="inline-block ml-2">
      <%= button_to topping_path(topping), class: "mt-1 rounded py-3 px-5 bg-gray-50 hover:ring-2 hover:ring-yellow-500", method: :delete, data: { "turbo_method": :delete } do %>
        <i class="fa fa-trash"></i> Delete
      <% end %>
    </div>
  </div>
</div>
