<%= form_for pizza do |f| %>

<% if pizza.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(pizza.errors.count, "error") %> prevented your pizza from being saved:</h2>
    <ul>
      <% pizza.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container m-9">

  <% if pizza.new_record? %>
    <strong class="heading-26 brandh1">New Pizza</strong>
  <% else %>
    <h1 class="font-bold text-4xl">Edit Pizza</h1>
  <% end %>

  <div class="pb-3 mb-3 mt-10">
    <strong></strong><%= f.label "Name:" %></strong><br>
    <div class="pt-2">
      <%= f.text_field :name, class: "block shadow rounded-lg border border-gray-200 outline-none w-2/3 px-2 py-1 mt-2" %>
    </div>
  </div>

  <div class="pb-3 mb-3 pt-3">
    <b><%= f.label "Toppings:" %></b><br>

    <div class="pb-4 px-5 pt-3">
      <%= f.collection_check_boxes(:topping_ids, Topping.all, :id, :name, { include_hidden: false }) do |b| %>
        <%= b.label(:"data-value" => b.value) {  b.check_box + "   " + b.text } %> <br>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.submit class: "rounded-lg py-4 px-7 bg-blue-600 text-white font-lg w-2/3" %>
  </div>
</div>

<% end %>