
<html>
  <head>
    <title>Pizza Chef</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "chef", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container mx-5">
      <%= turbo_frame_tag :modal %>
      <%= yield %>
    </main>
  </body>
</html>
